.main-page {
  display: flex;
}

.main-page .trips-content {
  width: 70%;
  padding: 40px 60px;
}

.trips-content h1 {
  margin-bottom: 40px;
  font-weight: 300;
}

.error {
  color: red;
}


/*============================= MEDIA ========================*/

@media screen and (max-width: 590px) {
  .main-page .trips-content {
    padding: 40px 55px;
  }

  .trips-content h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 490px) {
  .trips-content h1 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .main-page .trips-content {
    padding: 30px 40px;
  }
}